.faq2 {
  padding: 100px 0;
  background-color: #fff;
  scroll-margin-top: 88px;
}
.faqContainer {
  max-width: 800px;
  margin: 0 auto;
}
.faqItem {
  background: #f6f6f6;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.faqItem:last-child {
  margin-bottom: 0;
}
.faqItem h3 {
  font-weight: 600;
  font-size: 18px;
  margin: 0 30px 0 32px;
  color: #444;
  transition: color 0.3s;
}
.faqItem h3:hover {
  color: var(--accent-color);
}
.faqItem .faqIcon {
  position: absolute;
  top: 22px;
  left: 20px;
  font-size: 20px;
  color: var(--accent-color);
}
.faqContent {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s;
  overflow: hidden;
}
.faqContent p {
  margin: 0;
  overflow: hidden;
}
.faqActive .faqContent {
  grid-template-rows: 1fr;
  padding-top: 10px;
}
.faqItem .faqToggle {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
  transition: transform 0.3s;
}
.faqActive .faqToggle {
  transform: rotate(90deg);
  color: var(--accent-color);
}
.faqActive h3 {
  color: var(--accent-color);
}
